.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_panel {
    display: flex;
    align-items: center;

    width: 250px;

    padding: 6px 0 6px 15px;

    border: 1px solid #EAEAEA;
    border-radius: 10px;

    input {
        width: 100%;

        background-color: transparent;
        margin-left: 15px;
        padding: 8px 10px 8px 7px;

        outline: none;
        border: none;
        border-left: 1px solid #EAEAEA;

        &::placeholder {
            font-size: 14px;
            color: #C4C4C4;
        }
    }
}