.App {
    margin: 0 auto;
    max-width: 1080px;
    min-height: 90vh;
}

.container {
    padding: 50px;
    margin: 50px 0;

    background-color: white;

    border-radius: 30px;
}

.goBackBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 55px;

    background: #9DD458;
    border-radius: 18px;
    border: none;

    color: white;
    text-decoration: none;

    img {
        margin-right: 10px;
    }
}

button {
    cursor: pointer;
}

.jc-center {
    justify-content: center;
}

.js-start {
    justify-content: start;
}

.ml-20 {
    margin-left: 20px;
}

.mb-3 {
    margin-bottom: 3px;
}

.ta-c {
    text-align: center;
}